.Task1
{
  background-color: blanchedalmond;
  font-size: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 287px;
}
.T2
{
  font-size: 35px;
  color: #3487c6;
  text-align: center;
}
.Task2
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabledata
{
    width: 50%;
}
.table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.table td, .table th {
  border: 1px solid rgb(40, 39, 39);
  padding: 8px;
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #3487c6;
  color: white;
}
.Task3
{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: cadetblue;
}
.button
{
  background-color: lightgray;
}
.Arrayreturn
{
  display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px solid darkgray;
    width: 100%;
    font-weight: bold;
    color: #000000;
    font-size: 22px;
}
.T3,.T4
{
  font-size: 35px;
}
.Task4
{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #c2dcf3;
}