body
{
    background-color:rgb(20, 31, 51) ;   
    background-image: url(kkk.jpg); 
}

.name
{
    color: rgb(236, 236, 236);
    font-size: 300%;
    text-align: center;
    margin-top: 3%;
    

}
.jobprofile
{
    color: rgb(221, 221, 221);
    text-align: center;
    margin-top: 1%;
    font-size: 165%;
    text-decoration: underline;
    
}
.frame
{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.about
{
    background-color: #eeeeee;
    width: 80%;
    height: 448px;
    margin-top: 40px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-style: double;
    
}
.abouttext
{
    font-size: 35px;
    font-weight: bold;
    height: 40px;
    width: 148px;
    text-decoration: underline ;
    
}
.aboutcontent
{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.image
{
    width: 42%;
    
} 
 .image>img
{
    width: 100%;
    border-radius: 20px;
    border-style: ridge;
}   
.content
{
    width: 49%;
    font-size: 23px;
    text-align: justify;
    
}
.project
{
    background-color: #eeeeee;
    width: 80%;
    height: 200px;
    margin-top: 40px;
    border-radius: 16px;
    border-style: groove;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}
.projecttext
{
    font-size: 35px;
    font-weight: bold; 
    height: 40px;
    width: 110px;
    text-decoration: underline ;
}
.projectcontent
{
    text-align: center;
    width: 50%;
    border: 2px solid black;
    border-radius: 15px;
    height: 80px;
    font-weight: bold;

}
.projecttitle
{
    font-weight: bolder;
    padding: 5px;
    text-decoration: underline;
    font-size: larger;
}
.projectdetail
{
    font-size: larger;
    color: rgb(8, 51, 51);
}
.education
{
    background-color: #eeeeee;
    width: 80%;
    height: 290px;
    margin-top: 40px;
    border-radius: 16px;
    border-style: double;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.educationtext
{
    font-size: 35px;
    font-weight: bold;
    margin: 30px;
    height: 40px;
    width: 148px;
    text-decoration: underline ;
}
.educationcontent
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 100%;
    font-size: larger;
    
}
.educationdetails
{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    padding: 10px; 
    text-align: center;
}
.eduhead
{
    font-weight: bold;
    font-size: 25px;
    text-decoration: underline;
    margin-bottom: 5px;
    color:rgb(2, 9, 20) ; 
    
}
.edusub
{
    color: rgb(8, 51, 51);
    font-weight: bold; 
}
.techskill
{
    background-color: #eeeeee;
    width: 80%;
    height: 350px;
    margin-top: 30px;
    border-radius: 16px;
   border-style: groove;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.techskilltext
{
    font-size: 35px;
    font-weight: bold;
    margin: 30px;
    height: 40px;
    width: 250px;
    text-decoration: underline ;
}
.techskillcontent
{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
}
.techskilldetails
{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 10px;
    align-items: center;
    justify-content: space-around;
    height: 150; 
}
.techskillhead
{
    font-weight: bold;
    font-size: 25px;
    text-decoration: underline;
    margin-bottom: 10px;
    color:rgb(2, 9, 20) ; 
}
.techskillsub
{
    font-size: large;
    color: rgb(8, 51, 51);
    font-weight: bold;
}
.techcourse
{
    background-color: #eeeeee;
    width: 80%;
    height: 300px;
    margin-top: 40px;
    border-radius: 16px;
    border-style: double;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around
}
.techcoursetext
{
    font-size: 35px;
    font-weight: bold;
    border-radius: 16px;   
    height: 40px;
    width: 280px;
    text-decoration: underline ; 
}
.techcoursecontent
{
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.techcoursedetail
{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 10px;
    align-items: center;
    justify-content: space-around;
    height: 130px; 
    width: 45%;
}
.techcoursehead
{
    font-weight: bold;
    font-size: 25px;
    text-decoration: underline;
    margin-bottom: 10px;
    text-align: center;
    color:rgb(2, 9, 20) ; 
}
.techcoursesub
{
    font-size: large;
    text-align: center;
    color: rgb(8, 51, 51);
    font-weight: bold;
}
.extracert
{
    background-color: #eeeeee;
    width: 80%;
    height: 300px;
    margin-top: 40px;
    border-radius: 16px;
    border-style: groove;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around
}
.extracerttext
{
    font-size: 35px;
    font-weight: bold;  
    height: 30px;
    width: 280px;
    text-decoration: underline ; 
}
.extracertcontent
{
    display: flex;
    width: 80%;
    height: 170px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.extracertdetail
{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 10px;
    align-items: center;
    justify-content: space-around;
    height: 25%; 
    color: rgb(8, 51, 51);
    text-align: center;
}
.extracerthead
{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}
.contact
{
    background-color: #eeeeee;
    width: 80%;
    height: 150px;
    margin-top: 40px;
    border-radius: 16px;
    border-style: double;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around
}
.contacttext
{
    font-size: 35px;
    font-weight: bold;  
    height: 40px;
    text-decoration: underline ; 
    text-align: center;
}
.contactcontent
{
    display: flex;
    width: 80%;
    height: 50px;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.contactdetail
{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 10px;
    align-items: center;
    justify-content: space-around;
    height: 100; 
}
.contacthead
{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}
@media only screen and (max-width: 960px) {
    .about
    {
        height: 543px;
        width: 95%;
        justify-content: flex-start;
    }
 
    .content
    {
        width: 95%;
        height: 240px;
        justify-content: flex-start;
    }
    .aboutcontent
    {
        flex-direction: column;
        justify-content: flex-start;
    }
    .education
    {
        height: 350px ;
        width: 95%;
    }
    .educationcontent
    {
        height: 340px;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .educationdetails
    {
        height: 100px;
    }

    .contactcontent
    {
        flex-direction: column;
        text-align:center ;
   
    }
    .contact
    {
        height: 310px;
        width: 95%;
    }
    .extracertdetail
    {
        height: 34%;
    }
    .techskill
    {
        height: 459px;
        width: 95%;
    }
    .techskillcontent
    {
        height: 385px;
        flex-wrap: wrap;
        align-content: stretch;
    }
    .techcoursesub
    {
        font-size: 17px;
    }
    .projectcontent
    {
        height: 100px;
    }
    .project
    {
        width: 95%;
    }
    .techcourse
    {
        width: 95%;
    }
    .extracert
    {
        width: 95%;
    }
  }
  @media only screen and (max-width: 522px){
   
    .projectcontent
    {
        width: 75%;
    }
    .education
    {
        height: 484px;
    }
    .educationcontent
    {
        height: 385px;
    }
    .techskill
    {
        height: 641px;
    }
    .techskillcontent 
    {
        height: 555px;
    }
    .techcoursedetail
    {
        height: 159px;
    }
}

